nav {
    height: 10vh;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

nav ul {
    height: 8vh;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav figure img {
    max-width: 6vw;
    height: auto;
}

nav li {
    margin: auto 2vh;
    font-size: 1.5rem;
}